.main-lista{
 
    font-family: 'Roboto';
    
}
.main-lista h1{

    margin: 0;


}

.filter{
    width: 100%;
    display: flex;
    justify-content: center;
}

.filter .tag-filter{
    font-size: 18px;
    font-weight: 500;
    background: none;
    color: white;
    margin: 0 10px;
    transition: opacity 0.3s;
}
.filter .tag-filter:hover{
    opacity: 0.7;
}

.tag-filter-recurrent::after{
    content: '';
    display: block;
    width: 55px;
    margin: 0 auto;
    border-bottom: 10px solid #E44C4E;
}
.tag-filter-eventual::after{
    content: '';
    display: block;
    width: 55px;
    margin: 0 auto;
    border-bottom: 10px solid #4E41F0;
}
